.statistic {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 200px 50px auto 1fr;
 min-height: 100vh;
 width: 100%;
 column-gap: 20px;
 row-gap: 20px;
 color: var(--header-color);
 &__header {
    font-size: 55px;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    grid-column: 1 / 3;
    grid-row: 1;
    margin: 0;
    padding-top: 87px;
  }
  &__title-left {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-self: center;
    justify-self: end;
    font-size: 22px;
  }
  &__glass-right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-self: center;
    justify-content: start;
  }
  
  &__navigation {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 15px 0;
  }
  &__link{
    color: var(--water-color);
    text-decoration: none;   
    &:visited {
      color: var(--water-color);
    }
  }
} 
.date-column {
  grid-column: 1;
  grid-row: 3;
  display: flex; 
  justify-self: end;
  margin: 0;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}
.glass-column {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-self: start;
  margin: 0;
  &__list {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
  }
}