@import "~normalize.css";

@import "modules/water.scss";
@import "modules/statistic.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --water-color: #2196F3;
  --background-color: #3767AD;
  --header-color: #FFFFFF;
  --remove-content: #F5E5E7;
  --black-letters: #000000;
  --add-button: #FFFFFF;
}

body {
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.hydrapp {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-flow: column;
  padding: none; 
  &__header {
    color: var(--header-color);
    font-size: 55px;
    line-height: 64px;
    width: 275px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    margin: 87px 50px 0;
  }
  &__glass-wrapper {
    width: 280px;
    height: 280px;
    margin: 68px 0 48px;
    position: relative;
  }
  &__glass {
    margin: 0;
  }
  &__counter {
    width: 88px;
    height: 98px;
    color: var(--black-letters);
    font-size: 112px;
    position: absolute;
    top: 114px;
    left: 96px; 
    z-index: 1;
    margin: 0;
    padding: 0;
    line-height: 131px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__button {
    margin-bottom: 37px;
    outline-color: var(--water-color);
    &--add {
      width: 216px;
      height: 47px;
      font-size: 18px;
      background-color: var(--add-button);
      color: var(--black-letters);
      border: 0px;
      border-radius: 4px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    &--remove {
      width: 184px;
      height: 23px;
      font-size: 14px;
      color: var(--remove-content);
      background: none;
      border: 0px;
    }   
  }
  &__link {
    color: var(--water-color);
    padding-bottom: 40px;
    text-decoration: none;
    &:visited {
      color: var(--water-color);
    }
  }
}